/*@import url('../public/fonts/Modak-Regular.ttf');*/
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-modak {
    font-family: '../public/fonts/Modak-Regular.ttf', serif;
}

.font-kalam {
    font-family: 'Kalam', cursive;
}

@layer base {
  body {
    @apply bg-gray-700;
  }
}

.modern-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.7) transparent; /* thumb track */
}

.modern-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.modern-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.modern-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 999px;
    border: 2px solid transparent; /* gives a slimmer “pill” look */
    background-clip: padding-box;
}

.modern-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.85);
}